h1{
    color:blueviolet;
    font-size: 200px;
    text-align: center;
}

p{
    background-color: darkgrey;
    text-decoration: underline;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    color:blueviolet;
    text-align:center;

}

.p1{
    color: rgb(43, 226, 165);
    background-color: black;
}


/*Con el punto siempre llamo a las clases*/


.p2{ 
    color: lawngreen;  
    background-color: grey;
    
}


/*aqui llamo a un id*/
#Subtitulo{
    color:rgb(58, 255, 58);
    background:blueviolet;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;

}



